/*
 ******************************************************************************
 * Stephen Booth
 * style.css - set the style properties for waybar. Colours are based upon
 * catppuccin mocha.
 ******************************************************************************
 */

@import "mocha.css";

* {
    font-family: Iosevka Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background: @crust;
    color: @text;
    margin: 5px 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: @mantle;
}

window#waybar.chromium {
    background-color: @base;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
}

#workspaces button.focused {
    color: @yellow;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button:hover {
    color: @green;
}

#workspaces button.urgent {
    color: @flamingo;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language,
#mpd {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#window {
    margin: 0 20px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @flamingo;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @green;
}

#memory {
    color: @teal;
}

#disk {
    color: @mauve;
}

#network {
    color: @sky;
}

#network.disconnected {
    color: @lavender;
}

#pulseaudio {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#pulseaudio.muted {
    color: @mauve;
}

#wireplumber {
    color: @pink;
}

#wireplumber.muted {
    color: @rosewater;
}

#custom-media {
    color: @blue;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: @sapphire;
}

#custom-media.custom-vlc {
    color: @sky;
}

#temperature {
    color: @peach;
}

#temperature.critical {
    color: @red;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @flamingo;
}

#mode {
    color: @flamingo;
    border-bottom: 3px solid;
    border-radius: 1rem;
    margin: 5px 10px;
}

#idle_inhibitor {
    color: @lavender;
    border-radius: 1rem;
}

#idle_inhibitor.activated {
    color: @maroon;
}

#mpd {
    color: @sapphire;
}

#mpd.disconnected {
    color: @sky;
}

#mpd.stopped {
    color: @blue;
}

#mpd.paused {
    color: @teal;
}

#language {
    color: @teal;
    min-width: 16px;
}

#keyboard-state {
    color: @mauve;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

